body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../img/background.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*header*/

header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: .8;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side {
    display: flex;
    margin-right: 79px;
}

h1 a{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin: 18px 20px 18px 79px;
}

h1 a:hover {
    color: #01813F;
}

.welcome, .welcome a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.welcome a:hover {
    color: #01813F;
}

.welcome {
    margin-left: 27px;
}

.icon-set {
    display: flex;
    width: 168px;
    height: 19px;
    justify-content: space-evenly;
    align-items: center;
    border-right: rgba(255, 255, 255, 0.5) solid 1px;
}

.svg-item:hover {
    filter: brightness(0) saturate(100%) invert(27%) sepia(71%) saturate(2208%) hue-rotate(135deg) brightness(90%) contrast(99%);
}

/*Form*/

.form {
    width: 444px;
    height: 584px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    /*margin: 54px auto;*/
    position: relative;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

.green-box {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: #3CB878;
    position: absolute;
    margin-top: 33px;
}

.sign-up  {
    display: inline-block;
    padding-top: 31px;
    padding-left: 61px;
    color: #434343;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.log-in {
    display: inline-block;
    padding-top: 33px;
    padding-left: 219px;
}

.log-in a {
    color: #3CB878;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.log-in a:hover {
    color: #01813F;
    text-decoration: underline;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.facebook {
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background-color: #305DB8;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.facebook:hover {
    background-color: #022263;
}

.svg-button-facebook {
    border-right: rgba(10, 22, 47, 0.1) solid 1px;
    width: 50px;
}

.button-inscription-facebook {
    margin-left: 18px;
}

.svg-button-google {
    border-right: rgba(43, 13, 9, .1) solid 1px;
    width: 50px;
    height: 20px;
}

.button-inscription-google {
    margin-left: 30px;
}

.google {
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background-color: #DF4A32;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.google:hover {
    background-color: #AB1F09;
}

.checkbox {
    margin-left: 60px;
}

.agree {
    color: #434343;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 8px;
}

.terms {
    color: #3CB878;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
}

.create-account {
    width: 324px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 20px auto;
    display: block;
}

.create-account:hover {
    background-color: #01813F;
}

.or {
    color: #848484;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    padding-left: 60px;
    padding-right: 60px;
}

.separator hr {
    flex: 1;
    border: none;
    border-top: 1px solid #F2F2F2;
    margin: 0 1px;
}

.form-field {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    fill: #FFF;
    margin: -3px auto;
    display: block;
    padding: 19px;
}

.form-field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.name {
    margin-top: 10px;
}





